 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}

p {
    color: black;
}

.row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 2vw 2vw;
}

.readout {
    width: 26vw;
    height: 5vw;
    background-color: white;
    justify-content: center;
    border-radius: 15px;
    font-size: 3vw;
    text-align: right;
    
}

.btn {
    font-size: 1.5em;
    display: flex;
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1 ;
    width: 5vw;
    border-radius: 15px;
}

.btn:hover{
    background-color: green;
}

#clear {
    background-color: lightcoral;
}

#clear:hover {
    background-color: coral;
}

#equal {
    background-color: lightblue;
}

#equal:hover {
    background-color: blue;
}

.calculator-body {
    margin:auto;
    height: auto;
    width: 30vw;
    background-color: black;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border-radius: 15px;
}